body {
  margin: 0;
  font-family: "Poppins", sans-serif;
 background-color: #f5f0e8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  color: black;
  -webkit-color: black;
  text-decoration: none;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translate(-50%, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
