.wrapper-container {
  position: relative;
  overflow: hidden;
}

.wrapper-container h1 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 26px;
  opacity: 0;
  animation: show 0.5s ease-out forwards;
  animation-delay: 1s;
}

.wrapper-container h2 {
  font-family: 'Meow Script', cursive;
  font-weight: 100;
  font-size: 80px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  margin: 0;
  opacity: 0;
  animation: slideDownFade 0.5s ease-out forwards;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: calc(100% / 3);
}
