.wrapper-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100vw;
  height: 70vh;
  text-decoration: none; 
  color: inherit;
  background-color: #6a5e4a;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);

}

.wrapper-container div{
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper-container h3,
.wrapper-container h2 {
  text-align: center;
  width: 100%; 
}

.wrapper-container h2 {
  
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 26px;
}

.wrapper-container h3 {
  font-family: 'Meow Script', cursive;
  font-weight: 100;
  font-size: 80px;
  color: white;
  margin: 0;
}

.wrapper-container img {
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1); /* voltea la imagen horizontalmente */
}



@media (max-width: 1024px) {
 

.wrapper-container h2 {
  font-size: 20px;
}

.wrapper-container h3 {
  font-size: 70px;
  bottom: 80px;

}
}

@media (max-width: 600px) {

  .wrapper-container h2 {
    font-size: 16px;
  }
  
  .wrapper-container h3 {
    font-size: 50px;

  }
}