.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  padding: 1rem 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: row-reverse;

}
.navbar-routes {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: .5rem;
}
.logo {
  font-family: "Vina Sans", sans-serif;
  font-size: 30px;
}
.bag{
  padding-right: .5rem;
}

.dropdown {
  position: relative;
}

.dropdown-title {
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}

.dropdown-title span {
  font-size: 18px;
}
.dropdown-menu {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
  border: 1px solid rgb(227, 227, 227);
  background-color: white;
  border-radius: 8px;
  list-style: none;
  padding: 1rem;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.dropdown-link {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.dropdown-link:hover {
  scale: 1.1;
  font-weight: 500;
}

.menu-icon {
  display: none;
}

@media (min-width: 1025px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    flex-direction: column;
  }
  .menu-icon {
    display: flex;
    cursor: pointer;
  padding-left: .5rem;

  }

  .navbar-routes {
    display: none;
  }

  .navbar-routes.is-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem .5rem;
  }

  .dropdown-menu {
    position: relative;
    border: none;
    box-shadow: none;
  }
}
